In [ ]:
# Get input from the user
side1 = float(input("Enter the length of side 1: "))
side2 = float(input("Enter the length of side 2: "))
side3 = float(input("Enter the length of side 3: "))

# Calculate the perimeter
perimeter = side1 + side2 + side3

# Print the result
print(f"The perimeter of the triangle is: {perimeter}")

Enter the length of side 1: 5
Enter the length of side 2: 7
Enter the length of side 3: 9
The perimeter of the triangle is: 21.0

In [ ]:
# Get input from the user
base = float(input("Enter the base of the triangle: "))
height = float(input("Enter the height of the triangle: "))

# Calculate the area
area = 0.5 * base * height

# Print the result
print(f"The area of the triangle is: {area}")

Enter the base of the triangle: 5
Enter the height of the triangle: 2
The area of the triangle is: 5.0

In [ ]:
# Get input from the user
x = input("Enter the first number: ")
y = input("Enter the second number: ")

# Swapping the values
x, y = y, x

# Print the swapped values
print(f"After swapping: First number = {x}, Second number = {y}")

Enter the first number: s
Enter the second number: f
After swapping: First number = f, Second number = s

In [ ]:
# Get input from the user
principal = float(input("Enter the principal amount: "))
rate = float(input("Enter the rate of interest: "))
time = float(input("Enter the time (in years): "))

# Calculate simple interest
simpleinterest = (principal * rate * time) / 100

# Print the result
print(f"The simple interest is: {simpleinterest}")

Enter the principal amount: 1000
Enter the rate of interest: 12
Enter the time (in years): 2
The simple interest is: 240.0

In [ ]:
# Get input from the user
number = int(input("Enter a number: "))

# Check if the number is even or odd
if number % 2 == 0:
    print(f"{number} is even.")
else:
    print(f"{number} is odd.")

Enter a number: 5
5 is odd.

In [ ]:
# Get input from the user
number = float(input("Enter a number: "))

# Check if the number is positive
if number > 0:
    print("The number is positive.")
# Check if the number is negative
elif number < 0:
    print("The number is negative.")
# If the number is neither positive nor negative, it must be zero
else:
    print("The number is zero.")

Enter a number: 5
The number is positive.

In [ ]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))

if (num1 >= num2) and (num1 >= num3):
    largest = num1
elif (num2 >= num1) and (num2 >= num3):
    largest = num2
else:
    largest = num3

print(f"The largest number is {largest}.")

Enter first number: 12
Enter second number: 45
Enter third number: 25
The largest number is 45.0.

In [ ]:
num = int(input("Enter a number: "))

if (num % 2 == 0) or (num % 3 == 0):
    print(f"{num} is divisible by both 2 and 3.")
else:
    print(f"{num} is not divisible by both 2 and 3.")

Enter a number: 8
8 is divisible by both 2 and 3.

In [ ]:
marks = float(input("Enter your marks: "))

if marks >= 90:
    grade = 'A+'
elif marks >= 80:
    grade = 'A'
elif marks >= 70:
    grade = 'B+'
elif marks >= 60:
    grade = 'B'
elif marks >= 50:
    grade = 'C'
else:
    grade = 'F'

print(f"Your grade is {grade}.")

In [ ]:
num = int(input("Enter a number: "))

if 10 <= num <= 99:
    print(f"{num} is 2 digit.")
else:
    print(f"{num} is not between 1 and 100.")

In [ ]:
num = int(input("Enter a number: "))

if  num<0 :
    print(f"{num} is neg.")
elif  num %5==0:

else:
    print(f"{num} is not  divisible by 5.")

Enter a number: 6
6 is notncvhv divisible by 3.

In [ ]:
# Get input from the user
char = input("Enter a character: ")

# Convert the character to lowercase to handle both uppercase and lowercase inputs
char = char.lower()

# Check if the character is a vowel
if char in ('a', 'e', 'i', 'o', 'u'):
    print(f"{char} is a vowel.")
else:
    # If the character is not a vowel and is an alphabet, it's a consonant
    if char.isalpha():
      #a.isdigit():
      #a.islower():
      #a.isupper():
        print(f"{char} is a consonant.")
    else:
        print(f"{char} is not an alphabetic character.")

Enter a character: a
a is a vowel.

In [ ]:
age = int(input("Enter your age: "))

if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote.")

In [ ]:
# Asking the user to enter a year
year = int(input("Enter a year: "))

# Check if the year is a leap year
#1700,2200,1800
if (year % 100 == 0):
    if (year % 400 == 0):
        print(f"{year} is leap year")
    else:
      # 100 disivible, not disi by 400
        print(f"{year} is not  a leap year.")
elif (year % 4 ==0):
  print(f"{year} is leap year")
else:
  print(f"{year} is not leap year")

Enter a year: 2018
2018 is not leap year

In [ ]:
operation = input("Enter operation (+ or -): ")
a = float(input("Enter the first number: "))
b = float(input("Enter the second number: "))

if operation == '+':
    print(f"The result is {a + b}.")
elif operation == '-':
    print(f"The result is {a - b}.")
else:
    print("Invalid operation.")

Enter operation (+ or -): +
Enter the first number: 3
Enter the second number: 4
The result is 7.0.

In [ ]:
#loop
#list []
#tuple ()
fruits = ["apple", "banana", "cherry",5,56,89,78,7876,466]


for i in fruits:
    print(i)

apple
banana
cherry
5
56
89
78
7876
466

In [ ]:
word = "Python"

for letter in word:
    print(letter)

P
y
t
h
o
n

In [ ]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [ ]:
#for print 1 to 10
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
total = 0

for i in range(1, 11):
    total += i

print("Sum of the first 10 natural numbers:", total)

Sum of the first 10 natural numbers: 55

In [ ]:

print("hello aswathy\n,how are you?")
print("how are you")
print("hello world")
print("hello"+" "+"world")
print("hello"+" "+input("what is ur name?"))
name=input("what is ur name")
length=len(name)
print(length)

hello aswathy
,how are you?
how are you
hello world
hello world
what is ur name?aparna
hello aparna
what is ur nameaparna
6

In [ ]:
a=int(input("enter a number"))
b=int(input("enter 2nd number"))
c=a
a=b
b=c
print(f"a={a}and b={b}")
print(a,b)

KeyboardInterrupt: Interrupted by user

In [ ]:
print(5*hello)

NameError: name 'hello' is not defined

my name is aparna and my age is 23
age

In [ ]:
print("18+12 =", 18 + 12)

18+12 = 30

In [ ]:
a=input("enter a 2 digit number")
ist=int(a[0])
sed=int(a[1])
print(ist+sed)

enter a 2 digit number12
3

In [ ]:
#arimeticoperator
x=6
y=9
print("x+y =",x+y)
print("x-y= ",x-y)
print("x*y=",x*y)
print("x%y",x%y)
print("x/y=",x/y)
print("x//y=",x//y)
print("x**y=",x**y)

In [ ]:
y=5+2*3-1+10/5
print(y)

In [ ]:
#comparsion
a=5
print(a==5)
print(a<=5)
print(a!=5)
print(a<5)
print(a>=5)

In [ ]:
#logical
a=5
b=4
print(a<5 and b==4)
print(a<=5 and b==7)
print(a<5 or b==4)
print(5 and 4)
print(0 and 4)
print(0 or 4)
print(not(a))
a=False
print(not(a))

False
False
True
4
0
4
False
True

In [ ]:
a=5
b=4
print(a&b)
print(a|b)
print(a^b)
print(~a)
print(a<<2)
print(a>>2)

4
5
1
-6
20
1

In [ ]:
#identityoperator
a=10
print(id(a))
print(id(10))

133773878592016
133773878592016

In [ ]:
a=10
b=11
print(a is b)#id check
print(id(a))
print(id(b))
print(a is not b)
print(a==b)#value check
print(id(a)==id(b))

False
133773878592016
133773878592048
True
False
False

In [ ]:
#membershipoperator
str="jenny"
print("y" in str)
print("Y" in str)
print("nny" in str)
print("Y" not in str)
print("e" not in str)

True
False
True
True
False

In [ ]:
name="hello aparna"
l=name.find("hello")
print(l)

0

In [ ]:
# Example string
text = "hello world! welcome to the world of programming."

# 1. Using string.count()
# Count the occurrences of the word 'world'
count_world = text.count('world')
print("Count of 'world':", count_world)

# 2. Using string.capitalize()
# Capitalize the first letter of the string
capitalized_text = text.capitalize()
print("Capitalized text:", capitalized_text)

# 3. Using string.find()
# Find the position of the first occurrence of 'welcome'
position_welcome = text.find('welcome')
print("Position of 'welcome':", position_welcome)

# 4. Using string.replace()
# Replace 'world' with 'universe'
replaced_text = text.replace('world', 'universe')
print("Text after replacement:", replaced_text)

Count of 'world': 2
Capitalized text: Hello world! welcome to the world of programming.
Position of 'welcome': 13
Text after replacement: hello universe! welcome to the universe of programming.

In [ ]:
# Example string
text = "Hello Aparna, how are you?"

# Using string.find() to find the first space
space_index = text.find(' ')

if space_index != -1:
    print(f"First space found at index: {space_index}")
else:
    print("No space found in the string.")

First space found at index: 5

In [ ]:
# Example string
text = "Hello Aparna, how are you?"

# Using string.count() to count the number of spaces
space_count = text.count(' ')

print(f"Number of spaces in the string: {space_count}")

Number of spaces in the string: 4

In [ ]:
# Create an initial list
my_list = [3, 8, 2, 7, 4]

# 1. Append an item to the list
my_list.append(10)
print("After append:", my_list)

# 2. Extend the list with another list
my_list.extend([11, 12])
print("After extend:", my_list)

# 3. Insert an item at a specific index
my_list.insert(1, 15)
print("After insert:", my_list)

# 4. Remove the first occurrence of an item
my_list.remove(7)
print("After remove:", my_list)

# 5. Pop an item from the list (last element by default)
popped_item = my_list.pop()
print("After pop (last item removed):", my_list)
print("Popped item:", popped_item)

# 6. Pop an item at a specific index
popped_item_at_index = my_list.pop(2)
print("After pop (item at index 2 removed):", my_list)
print("Popped item at index 2:", popped_item_at_index)

# 7. Find the index of the first occurrence of an item
index_of_15 = my_list.index(15)
print("Index of 15:", index_of_15)

# 8. Count the occurrences of an item
count_of_15 = my_list.count(15)
print("Count of 15:", count_of_15)

# 9. Sort the list
my_list.sort()
print("After sort:", my_list)

# 10. Reverse the list
my_list.reverse()
print("After reverse:", my_list)

# 11. Copy the list
copied_list = my_list.copy()
print("Copied list:", copied_list)

# 12. Clear the list
my_list.clear()
print("After clear:", my_list)

# 13. Find the length of the copied list
length_of_copied_list = len(copied_list)
print("Length of copied list:", length_of_copied_list)

# 14. Membership testing
if 15 in copied_list:
    print("15 is in the copied list")
else:
    print("15 is not in the copied list")



# 16. List concatenation
combined_list = copied_list + [20, 30]
print("After list concatenation:", combined_list)

After append: [3, 8, 2, 7, 4, 10]
After extend: [3, 8, 2, 7, 4, 10, 11, 12]
After insert: [3, 15, 8, 2, 7, 4, 10, 11, 12]
After remove: [3, 15, 8, 2, 4, 10, 11, 12]
After pop (last item removed): [3, 15, 8, 2, 4, 10, 11]
Popped item: 12
After pop (item at index 2 removed): [3, 15, 2, 4, 10, 11]
Popped item at index 2: 8
Index of 15: 1
Count of 15: 1
After sort: [2, 3, 4, 10, 11, 15]
After reverse: [15, 11, 10, 4, 3, 2]
Copied list: [15, 11, 10, 4, 3, 2]
After clear: []
Length of copied list: 6
15 is in the copied list
List comprehension (squares): [0, 1, 4, 9, 16]
After list concatenation: [15, 11, 10, 4, 3, 2, 20, 30]

In [ ]:
# Example list
my_list = [11, 52, 37, 48, 59, 63, 71, 88, 93, 10]

# Basic slicing
slice_1 = my_list[2:7]   # Elements from index 2 to 6
print("Slice 1:", slice_1)

# Slicing with step
slice_2 = my_list[1:10:2] # Elements from index 1 to 9, with a step of 2
print("Slice 2:", slice_2)

# Omitting start index
slice_3 = my_list[:5]     # Elements from the start to index 4
print("Slice 3:", slice_3)

# Omitting end index
slice_4 = my_list[5:]     # Elements from index 5 to the end
print("Slice 4:", slice_4)

# Negative indices
slice_5 = my_list[-5:-1]  # Elements from the fifth last to the second last
print("Slice 5:", slice_5)

# Reverse slicing
slice_6 = my_list[::-1]   # Reverse the entire list
print("Slice 6:", slice_6)

Slice 1: [37, 48, 59, 63, 71]
Slice 2: [52, 48, 63, 88, 10]
Slice 3: [11, 52, 37, 48, 59]
Slice 4: [63, 71, 88, 93, 10]
Slice 5: [63, 71, 88, 93]
Slice 6: [10, 93, 88, 71, 63, 59, 48, 37, 52, 11]

In [ ]:
# Initialize the list to store fruit names
fruits = []

# Get the names of 7 fruits from the user
fruits.append(input("Enter the name of fruit 1: "))
fruits.append(input("Enter the name of fruit 2: "))
fruits.append(input("Enter the name of fruit 3: "))
fruits.append(input("Enter the name of fruit 4: "))
fruits.append(input("Enter the name of fruit 5: "))
fruits.append(input("Enter the name of fruit 6: "))
fruits.append(input("Enter the name of fruit 7: "))

# Print the list of fruits
print("List of fruits entered:", fruits)

Enter the name of fruit 1: apple
Enter the name of fruit 2: orange
Enter the name of fruit 3: bannana
Enter the name of fruit 4: grape
Enter the name of fruit 5: tomato
Enter the name of fruit 6: onion
Enter the name of fruit 7: strawberry
List of fruits entered: ['apple', 'orange', 'bannana', 'grape', 'tomato', 'onion', 'strawberry']

In [ ]:
# Initialize an empty list to store the marks
marks = []

# Accept marks for 6 students
marks.append(float(input("Enter the marks for student 1: ")))
marks.append(float(input("Enter the marks for student 2: ")))
marks.append(float(input("Enter the marks for student 3: ")))
marks.append(float(input("Enter the marks for student 4: ")))
marks.append(float(input("Enter the marks for student 5: ")))
marks.append(float(input("Enter the marks for student 6: ")))

# Sort the marks in ascending order
marks.sort()

# Display the sorted list of marks
print("Sorted marks of students:", marks)

Enter the marks for student 1: 12
Enter the marks for student 2: 45
Enter the marks for student 3: 67
Enter the marks for student 4: 89
Enter the marks for student 5: 23
Enter the marks for student 6: 99
Sorted marks of students: [12.0, 23.0, 45.0, 67.0, 89.0, 99.0]

In [ ]:
# Creating a tuple
my_tuple = (10, 20, 30, 40, 50)

# Accessing elements of the tuple
print("First element:", my_tuple[0])
print("Second element:", my_tuple[1])
print("Last element:", my_tuple[-1])

First element: 10
Second element: 20
Last element: 50

In [ ]:
# Tuple containing different data types
mixed_tuple = (1, "Hello", 3.14, True)

# Accessing elements
print("Integer element:", mixed_tuple[0])
print("String element:", mixed_tuple[1])
print("Float element:", mixed_tuple[2])
print("Boolean element:", mixed_tuple[3])

Integer element: 1
String element: Hello
Float element: 3.14
Boolean element: True

In [ ]:
# Creating a tuple
num_tuple = (10, 20, 30, 40, 50, 60)

# Slicing the tuple
slice1 = num_tuple[1:4]
slice2 = num_tuple[:3]
slice3 = num_tuple[3:]

print("Sliced tuple 1:", slice1)
print("Sliced tuple 2:", slice2)
print("Sliced tuple 3:", slice3)

Sliced tuple 1: (20, 30, 40)
Sliced tuple 2: (10, 20, 30)
Sliced tuple 3: (40, 50, 60)

In [ ]:
# Creating a tuple
fruits = ("apple", "banana", "cherry", "date")

# Finding the length
length = len(fruits)
print("Number of fruits:", length)

Number of fruits: 4

In [ ]:
# Creating a tuple
colors = ("red", "blue", "green", "yellow")

# Checking for membership
print("Is 'blue' in the tuple?", 'blue' in colors)
print("Is 'pink' in the tuple?", 'pink' in colors)

Is 'blue' in the tuple? True
Is 'pink' in the tuple? False

In [ ]:
# Creating two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Concatenating tuples
result = tuple1 + tuple2
print("Concatenated tuple:", result)

Concatenated tuple: (1, 2, 3, 4, 5, 6)

In [ ]:
# Creating a tuple
tuple1 = ("A", "B", "C")

# Repeating the tuple
result = tuple1 * 3
print("Repeated tuple:", result)

Repeated tuple: ('A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C')

In [ ]:
# Creating a set with initial values
my_set = {1, 2, 3, 4, 5,5}

# Printing the set
print("Set:", my_set)

Set: {1, 2, 3, 4, 5}

In [ ]:
# Creating an empty set
my_set = set()

# Adding elements to the set
my_set.add(10)
my_set.add(20)
my_set.add(30)

print("Set after adding elements:", my_set)

Set after adding elements: {10, 20, 30}

In [ ]:
# Creating a set with initial values
my_set = {10, 20, 30, 40}

# Removing an element
my_set.remove(20)  # Removes 20 from the set

# Removing an element using discard (no error if the element is not found)
my_set.discard(10)  # No error even if 50 is not in the set

print("Set after removing elements:", my_set)

Set after removing elements: {40, 30}

In [ ]:
# Creating a set
my_set = {5, 10, 15, 20}

# Checking if an element is in the set
print("Is 10 in the set?", 10 in my_set)
print("Is 25 in the set?", 25 in my_set)

Is 10 in the set? True
Is 25 in the set? False

In [ ]:
# Creating two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Union of two sets
union_set = set1.union(set2)
print("Union of set1 and set2:", union_set)

Union of set1 and set2: {1, 2, 3, 4, 5}

In [ ]:
# Creating two sets
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Intersection of two sets
intersection_set = set1.intersection(set2)
print("Intersection of set1 and set2:", intersection_set)

Intersection of set1 and set2: {2, 3}

In [ ]:
# Creating two sets
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Difference between two sets (elements in set1 but not in set2)
difference_set = set1.difference(set2)
print("Difference of set1 and set2:", difference_set)

Difference of set1 and set2: {1}

In [ ]:
# Creating a set
my_set = {1, 2, 3, 4, 5}

# Finding the length of the set
length = len(my_set)
print("Length of the set:", length)

Length of the set: 5

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

symmetric_diff = set1.symmetric_difference(set2)
print("Symmetric difference of sets:", symmetric_diff)

Symmetric difference of sets: {1, 2, 5, 6}

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {2, 3, 5, 6}
set3 = {3, 4, 6, 7}

common_elements = set1.intersection(set2, set3)
print("Common elements:", common_elements)

Common elements: {3}

In [ ]:
my_set = {1, 2, 3}

# Add an element
my_set.add(4)
print("After adding 4:", my_set)

# Remove an element
my_set.remove(2)
print("After removing 2:", my_set)

After adding 4: {1, 2, 3, 4}
After removing 2: {1, 3, 4}

In [ ]:
my_set = {3, 1, 4, 2}

my_list = list(my_set)
my_list.sort()
print("Sorted list:", my_list)

Sorted list: [1, 2, 3, 4]

In [ ]:
i = 1

while i <= 5:
    print(i)
    i += 1  # Increment `i` to avoid infinite loop i=i+1

1
2
3
4
5

In [ ]:
i = 1

while True:
    print(i)
    i += 1
    if i > 5:  # Terminate loop when `i` exceeds 5
        break

1
2
3
4
5

In [ ]:
#print 1 to 10
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
#to find n natural number
n =int(input("enter the number"))
sum = 0
i = 1

while i <= n:
    sum += i
    i += 1

print(f"Sum of first {n} natural numbers is {sum}")

enter the number5
Sum of first 5 natural numbers is 15

In [ ]:
# to print multiplication table
num = int(input("enter the number to find multiplication table"))
i = 1

while i <= 10:
    print(f"{num} x {i} = {num * i}")
    i += 1

enter the number to find multiplication table5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
#reverse a number
num = 12345  # You can change this number 54321
reversed_num = 0

while num > 0:
    remainder = num % 10
    reversed_num = reversed_num * 10 + remainder
    num = num // 10

print("Reversed Number:", reversed_num)

Reversed Number: 54321

In [ ]:
#palindrome or not
num = 121
original_num = num
reversed_num = 0

while num > 0:
    remainder = num % 10
    reversed_num = reversed_num * 10 + remainder
    num = num // 10

if original_num == reversed_num:
    print(f"{original_num} is a palindrome.")
else:
    print(f"{original_num} is not a palindrome.")

In [ ]:
count=1
while count<=5:
     print(count)
     count+=1
     if count==3:
         break
else:
     print("in else block ")

1
2

In [ ]:
count =1
while count<=5:
     print(count)
     count+=1
else:
   print("in else block")

1
2
3
4
5
in else block

In [ ]:
#factorial of a number
n = int(input("Enter a number: "))
factorial = 1
i = 1
while i <= n:
    factorial *= i
    i += 1
print("Factorial:", factorial)
print(f"factorial of {n} = {factorial}!")

Enter a number: 5
Factorial: 120
factorial of 5 = 120!

In [ ]:
#guess the number
number = 7
guess = int(input("Guess the number: "))
while guess != number:
    guess = int(input("Try again: "))
print("You guessed it!")

Guess the number: 8
Try again: 4
Try again: 2
Try again: 6
Try again: 1
Try again: 0
Try again: 3
Try again: 7
You guessed it!

In [ ]:
#sum of digits
n = int(input("Enter a number: "))
sum_digits = 0
while n > 0:
    sum_digits += n % 10
    n = n // 10
print("Sum of digits:", sum_digits)

In [ ]:
#fibnoacci series
n = int(input("Enter the number of terms: "))
a, b = 0, 1
count = 0
while count < n:
    print(a, end=" ")
    a, b = b, a + b
    count += 1

In [ ]:
#armstrong number